@page "/add_model"

<PageTitle>AR Biblioteket - Tilføj 3D Model</PageTitle>

<div class="container">
	<p>Tilføj 3D model</p>
	<form>
		<div class="section">
			<label>Title</label>
			<input type="text" placeholder="Title" required/>
		</div>
		<div class="section">
			<label>Uddannelse</label>
			<select id="education" name="uddannelse" required>
				<option value>vælg uddannelse</option>
				<option value="Auto">Auto</option>
				<option value="Automatik">Automatik</option>
				<option value="Business">Business</option>
				<option value="Data">Data</option>
				<option value="Elektriker">Elektriker</option>
				<option value="Elektronik">Elektronik</option>
				<option value="Gastronomi">Gastronomi</option>
				<option value="Industriteknik">Industriteknik</option>
				<option value="Operatør">Operatør</option>
				<option value="Produktør">Produktør</option>
				<option value="Smed">Smed</option>
				<option value="Struktør">Struktør</option>
				<option value="Tømrer">Tømrer</option>
				<option value="VVS">VVS</option>
			</select>
		</div>
		<div class="section">
			<label>Beskrivelse</label>
			<textarea placeholder="Beskrivelse" required/>
		</div>
		<div class="section">
			<label>3D Model</label>
			<input type="file" required />
		</div>
		<div class="section">
			<label>Billede</label>
			<input type="file" required/>
		</div>
		<button>Tilføj</button>
	</form>		
</div>

@code {

}
