@page "/"
<link href="HomePage.css" rel="stylesheet" />

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="sidebar">
        <div class="filter-title">Filters when that needs to be incorporated</div>
        <ul class="model-list">
            <li>3D Modeler</li>
            <li>1. Model</li>
            <li>2. Model</li>
            <li>3. Model</li>
            <li>4. ..... </li>
        </ul>
    </div>
    <div class="content">
        <!-- here is where to include the view page link in the future -->
    </div>
</div>
