@page "/"
@using ARBiblioteket.ApiService.Models
@using ARBiblioteket.ApiService.Services
@using ARBiblioteket.ApiService
@using ARBiblioteket.ApiService.Mapping
@inject ApiService ApiService

<PageTitle>AR Biblioteket - Home</PageTitle>

<div class="container">
    <div class="sidebar">
        <div class="filter-title">Filters that need to be incorporated</div>
    </div>
    <div class="content">
        @if (models == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <ul class="model-list">
                @foreach (var model in models)
                {
                    <li>
                        <a href="/model/@model.Id">@model.Title</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@code {
    private List<Model>? models;

    protected override async Task OnInitializedAsync()
    {
        models = await ApiService.GetAllModelsAsync();
    }
}
