@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="sidebar">
        <div class="filter-title">Filters that need to be incorporated</div>
    </div>
    <div class="content">
        <ul class="model-list">
            <li>3D Modeler</li>
            <li><a href="/model">1. Model</a></li>
            <li><a href="/model">2. Model</a></li>
            <li><a href="/model">3. Model</a></li>
            <li><a href="/model">4. ..... </a></li>
        </ul>
    </div>
</div>
