body {
}

.login-box {
    background-color: #b0b0b0;
    border-radius: 10px;
    padding: 2rem;
    color: #0E38AB;
    font-weight: bold;
    margin: 30px 0;
}

.login-box p:first-child {
    text-align: center;
    padding-top: 8px;
}

.user-box {
    padding-bottom: 1.5rem;
}

.user-box input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0E38AB;
    outline: none;
    color: black;
    width: 100%;
    
}

.login-box button{
    margin-bottom: 1rem;
    background-color: #0E38AB;
    color: white;
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 6rem;
    font-weight: bold;
}

.login-box p:last-child {
    color: black;
    padding-bottom: 8px;
}

.login-box a {
    color: #0E38AB;
    text-decoration: none;
    font-weight: bold;
}

    .login-box a:hover {
        color: white;
    }


@media (min-width: 768px) {
    .login-box {
        margin: 8% 35%;
    }
}