@page "/login"

<PageTitle>AR Biblioteket - Log Ind</PageTitle>

<div class="login-box">
	<form>
		<h2>Log Ind</h2>
		<div class="user-box">
			<input required type="text">
			<label>E-mail</label>
		</div>
		<div class="user-box">
			<input required type="password">
			<label>Adgangskode</label>
		</div>
		<button>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Log Ind
		</button>
	</form>
	<p>Har du ikke en konto? <a href="/sign_up" class="signup-link">Opret konto her!</a></p>
</div>

@code {

}
