@page "/sign_up"

<PageTitle>AR Biblioteket - Sign up</PageTitle>

<div class="login-box">
	<form>
		<h2>Sign up</h2>
		<div class="user-box">
			<input required type="text">
			<label>Name</label>
		</div>
		<div class="user-box">
			<input required type="email">
			<label>Email</label>
		</div>
		<div class="user-box">
			<input required type="password">
			<label>Password</label>
		</div>
		<div class="user-box">
			<input required type="text">
			<label>Afdeling</label>
		</div>
		<div class="user-box">
			<input required type="text">
			<label>Access Key</label>
		</div>
		<button>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Submit
		</button>
	</form>
	<p>Har du en konto? <a href="/login" class="signup-link">Login her!</a></p>
</div>

@code {

}