@page "/sign_up"

<PageTitle>AR Biblioteket - Opret Konto</PageTitle>

<div class="login-box">
	<form>
		<h2>Opret Konto</h2>
		<div class="user-box">
			<input required type="text">
			<label>Navn</label>
		</div>
		<div class="user-box">
			<input required type="email">
			<label>E-mail</label>
		</div>
		<div class="user-box">
			<input required type="password">
			<label>Adgangskode</label>
		</div>
		<div class="user-box">
			<input required type="text">
			<label>Afdeling</label>
		</div>
		<div class="user-box">
			<input required type="text">
			<label>Adgangsnøgle</label>
		</div>
		<button>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Opret Konto
		</button>
	</form>
	<p>Har du en konto? <a href="/login" class="signup-link">Log ind her!</a></p>
</div>

@code {

}