@page "/model"

<PageTitle>AR Biblioteket - ModelViewer</PageTitle>

<div class="model-container">
    <div class="model-name">MODEL NAME</div>
    <div class="model-image">
        <img src="LocalImages/Placeholder.png" alt="Model Image" />
    </div>
    <div class="model-description">CATEGORY AND DESCRIPTION</div>
</div>

@code {

}
