@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="navbar">
            <span class="title">VIDENCENTER</span>
            <nav>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/sign_up">Sign Up</a>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
