@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="navbar">
            <span class="title">AR Biblioteket</span>
            <nav>
                <a href="/">Forside</a>
                <a href="/add_model">Tilføj Model</a>
                <a href="/edit_model">Rediger Model</a>
                <a href="/login">Log Ind</a>
                <a href="/sign_up">Opret Konto</a>
            </nav>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Der er opstået en uventet fejl.
    <a href="" class="reload">Genindlæs</a>
    <a class="dismiss">🗙</a>
</div>

<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
