@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="navbar">
            <span class="title">AR Biblioteket</span>
            <nav>
                <a href="/">Home</a>
                <a href="/add_model">Tilføj Model</a>
                <a href="/edit_model">Redigere Model</a>
                <a href="/login">Login</a>
                <a href="/sign_up">Sign Up</a>
            </nav>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
